.header,
.logo,
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 2% 4%;
  background-color: #1E2D40;
}

.logo {
  gap: 20px;
  font-size: 1.5em;
}

.nav {
  width: 30%;
}

.link,
.language-menu {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.language-menu {
  background-color: #333;
  text-transform: uppercase;
  padding: 5px;
}

.theme-button {
  border: none;
  background-color: transparent;
}
